body {
    background-image: url(blue\ star.jpg);
    background-color: rgb(200, 10, 238);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 20px;
    
}
.container {
    background-color: rgba(248, 248, 250, 0);
    padding: 20px;
    width: 80%;
    margin: auto;
    position: relative;
}
.container img {
    background-color: rgb(253, 251, 251);
    float: right;
    margin-bottom: 20px;
    border-radius: 50px;
}
.container h2:first-of-type {
    clear: both;
}
h2 {
    background-color: #02090c;
    color: rgba(235, 229, 229, 0.947);
    padding: 5px;
}
p, li {
    line-height: 1.5;
    color: #f3efef;
}